td{
    text-align: center;
}
tr{
    text-align: center;
    width: auto;
    table-layout: fixed;
 
}
/* .card{
width: 50;
} */
.btn.btn-default{
    height: 50px;
 
    width: 150px;
}
.btn.btn-dark.dropdown-toggle{
    background-color: #f4f3ef;
    height: 15%;
    width: 10%;
}

/* .form-control{
  height: 15%;
  width: 10%;
} */
.wrapper{
    background-color: #f4f3ef ;
}


.btn.dropdown-toggle{
    height: 30px;
 
    width: 100px;
}